<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated uncertainty -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dev.abunai.confidentiality.analysis.model.uncertainty.presentation.UncertaintyModelWizardID"
            name="%_UI_UncertaintyModelWizard_label"
            class="dev.abunai.confidentiality.analysis.model.uncertainty.presentation.UncertaintyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UncertaintyModelFile.gif">
         <description>%_UI_UncertaintyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated uncertainty -->
      <editor
            id="dev.abunai.confidentiality.analysis.model.uncertainty.presentation.UncertaintyEditorID"
            name="%_UI_UncertaintyEditor_label"
            icon="icons/full/obj16/UncertaintyModelFile.gif"
            extensions="uncertainty"
            class="dev.abunai.confidentiality.analysis.model.uncertainty.presentation.UncertaintyEditor"
            contributorClass="dev.abunai.confidentiality.analysis.model.uncertainty.presentation.UncertaintyActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated uncertainty -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dev.abunai.confidentiality.analysis.model.uncertainty.pcm.presentation.PcmModelWizardID"
            name="%_UI_PcmModelWizard_label"
            class="dev.abunai.confidentiality.analysis.model.uncertainty.pcm.presentation.PcmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PcmModelFile.gif">
         <description>%_UI_PcmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated uncertainty -->
      <editor
            id="dev.abunai.confidentiality.analysis.model.uncertainty.pcm.presentation.PcmEditorID"
            name="%_UI_PcmEditor_label"
            icon="icons/full/obj16/PcmModelFile.gif"
            extensions="pcm"
            class="dev.abunai.confidentiality.analysis.model.uncertainty.pcm.presentation.PcmEditor"
            contributorClass="dev.abunai.confidentiality.analysis.model.uncertainty.pcm.presentation.PcmActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated uncertainty -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dev.abunai.confidentiality.analysis.model.uncertainty.dfd.presentation.DfdModelWizardID"
            name="%_UI_DfdModelWizard_label"
            class="dev.abunai.confidentiality.analysis.model.uncertainty.dfd.presentation.DfdModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DfdModelFile.gif">
         <description>%_UI_DfdModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated uncertainty -->
      <editor
            id="dev.abunai.confidentiality.analysis.model.uncertainty.dfd.presentation.DfdEditorID"
            name="%_UI_DfdEditor_label"
            icon="icons/full/obj16/DfdModelFile.gif"
            extensions="dfd"
            class="dev.abunai.confidentiality.analysis.model.uncertainty.dfd.presentation.DfdEditor"
            contributorClass="dev.abunai.confidentiality.analysis.model.uncertainty.dfd.presentation.DfdActionBarContributor">
      </editor>
   </extension>

</plugin>
